.experiencia .subtitulo {
    color: #e0e0e0;
}

.experiencia-texto {
    font-size: 1.5rem;
    line-height: 1.33;
    max-width: 40ch;
    margin-bottom: 60px;
    color: #525252;
}

.experiencia-texto strong {
    color: #141414;
}