@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

.container {
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
}

.introducao {
    align-items: center;
}

.introducao h1 {
    font-size: 4.5rem;
    line-height: 1.125;
    margin-bottom: 1.875rem;
    position: relative;
    font-family: "Playfair Display", Arial, sans-serif;
    font-weight: 800;
}

.introducao h1::before {
    content: "";
    display: block;
    /*ou inline-block*/
    width: 130px;
    height: 100px;
    background-image: url("../img/deco.svg");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: -20px;
    left: -40px;
    z-index: -1;
    /*texto é 0, deco ir pra trás, -1*/
}

.introducao p {
    font-size: 1.5rem;
    color: #525252;
}

@media (max-width: 1000px) {
    .introducao h1 {
        font-size: 3rem;
        /*diminui a fonte para a imagem e texto diminuirem proporcional */
    }
}

@media (max-width: 800px) {
    .introducao {
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }

    .introducao h1 {
        font-size: 2rem;
        /*diminui a fonte para a imagem e texto diminuirem proporcional */
    }

    .introducao h1::before {
        width: 30px;
        height: 10px;
        left: 0px;
    }
}

@media (max-width: 400px) {
    .introducao {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .introducao img {
        max-width: 70%;
    }
}